### Exercism ###
.exercism/

### Mac files ###
.DS_Store

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### C/C++ ###
*.out
tests.out.dSYM/
memcheck.out.dSYM/
dockDockBuildParams.json

### Rider ###
*.DotSettings.user

### Gradle ###
.[Gg]radle/

### Cargo ###
Cargo.lock
/target/
**/*.rs.bk

### Kotlin ###
*[Bb]uild/

### Node Modules ###
node_modules/

### editorconfig ###
.editorconfig

### DotNet ###
#Build
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# DotCover is a Code Coverage Tool
*.dotCover
